:root {
  --imdb-color: #f3ce13;
  --imdb-dark-color: #3e4446;
  --blue-color: #0073e6;
  --disabled-color: #acacac;
  --font-defaults: "Amazon Ember", sans-serif, serif, monospace;
  --font-size-small: 10px;
  --font-size-mid: 15px;
  --font-size-large: 20px;
}

body {
  font-family: var(--font-defaults);
  background-color: var(--imdb-color);
  color: #fff;
}

button {
  font: inherit;
  font-size: var(--font-size-mid);
  color: #fff;
  cursor: pointer;
  background-color: var(--blue-color);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.4rem;
  border: var(--blue-color) solid 0.25rem;
  transition: border-color 0.5s;
}

button:hover {
  border-color: var(--imdb-color);
}

button:disabled {
  border-color: var(--disabled-color);
  background-color: var(--disabled-color);
  color: var(--imdb-dark-color);
  cursor: not-allowed;
}

select {
  padding: 0.15rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--blue-color);
  color: #fff;
  border: var(--blue-color) solid 0.2rem;
  transition: border-color 0.5s;
}

option {
  text-align: center;
}

select:hover {
  border-color: var(--imdb-color);
}

img.contentCover {
  border: var(--imdb-color) solid 0.25rem;
  transition: border-color 0.5s;
}

img:hover.contentCover {
  border-color: var(--blue-color);
}

.popupHeader {
  font-size: var(--font-size-large);
}

.container {
  position: relative;
  width: 18rem;
  background-color: var(--imdb-dark-color);
  font-size: var(--font-size-mid);
}

.inactiveContainer {
  width: 15rem;
  margin: 0;
  background-color: var(--imdb-dark-color);
  font-size: var(--font-size-mid);
}

.inactiveContainer > p {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inactiveContainer > a {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--imdb-color);
  text-decoration: none;
}

.qMark {
  animation: shake 10s ease-in-out 5s infinite;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  border: var(--imdb-color) solid 0.1rem;
}

.loadingAnimation {
  width: 3rem;
  height: 1.2rem;
  pointer-events: none;
}

.selectDiv {
  position: absolute;
  transition: opacity 0.3s;
}

.sliderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clickText {
  position: absolute;
  pointer-events: none;
  animation: clickText 5s infinite ease-in-out;
}

.ratingSlider {
  cursor: pointer;
}

.questionMark {
  position: absolute;
  cursor: pointer;
  background-color: var(--imdb-dark-color);
  padding: 0;
  margin: 0;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
}

.linksContainer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--imdb-color);
  text-decoration: none;
  padding: 0 0.5rem;
}

.heart {
  padding: 0 0.5rem;
  color: red;
  animation: heart 2s infinite ease;
}

@keyframes heart {
  0%,
  100% {
    color: red;
  }

  50% {
    color: var(--imdb-color);
  }
}

@keyframes clickText {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

@keyframes shake {
  0%,
  20%,
  100% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.7);
  }
}
