:root {
  --imdb-color: #f3ce13;
  --imdb-dark-color: #3e4446;
  --blue-color: #0073e6;
  --disabled-color: #acacac;
  --font-size-small: 10px;
  --font-size-mid: 15px;
  --font-size-large: 20px;
}

body {
  background-color: var(--imdb-color);
  color: #fff;
}

button {
  background-color: var(--blue-color);
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-mid);
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.popupHeader {
  font-size: var(--font-size-large);
}

.container {
  width: 250px;
  background-color: var(--imdb-dark-color);
  font-size: var(--font-size-mid);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: var(--imdb-color) solid 1px;
}

.loadingAnimation {
  width: 50px;
  height: 20px;
}

.loadingRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectionRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorDiv {
  color: red;
}
