:root {
  --imdb-color: #f3ce13;
  --imdb-dark-color: #3e4446;
  --blue-color: #0073e6;
  --disabled-color: #acacac;
  --font-size-small: 10px;
  --font-size-mid: 15px;
  --font-size-large: 20px;
  --font-defaults: "Amazon Ember", sans-serif, serif, monospace;
}

body {
  font-family: var(--font-defaults);
  background-color: var(--imdb-color);
  color: #fff;
}

button {
  font: inherit;
  background-color: var(--blue-color);
  padding: 10px;
  margin: 0.25em;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-mid);
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.popupHeader {
  font-size: var(--font-size-large);
}

.container {
  width: 250px;
  background-color: var(--imdb-dark-color);
  font-size: var(--font-size-mid);
}

.inactiveContainer {
  width: 200px;
  margin: 0;
  background-color: var(--imdb-dark-color);
  font-size: var(--font-size-mid);
}

.inactiveContainer > p {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inactiveContainer > a {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--imdb-color);
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: var(--imdb-color) solid 1px;
}

.loadingAnimation {
  width: 50px;
  height: 20px;
}

.selectDiv {
  position: absolute;
}

.sliderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingSlider {
  cursor: pointer;
}
